{% extends 'base.html' %}

{% block title %}Ai uitat parola?{% endblock %}

{% block header %}Ai uitat parola?{% endblock %}

{% block content %}
<div class="text-center mb-4">
  <p class="lead">Introdu adresa de email mai jos și îți vom trimite instrucțiuni pentru setarea unei parole noi.</p>
</div>

<form method="POST">
  {% csrf_token %}
  
  {% load bootstrap4 %}
  {% bootstrap_form form %}
  
  <div class="form-group mt-4">
    <button type="submit" class="btn btn-primary btn-block">Trimite-mi instrucțiunile!</button>
  </div>
</form>

<div class="text-center mt-4">
  <a href="{% url 'home' %}" class="btn btn-outline-secondary">Înapoi la pagina principală</a>
</div>
{% endblock %}