{% extends "base.html" %}

{% block title %}Introdu noua parolă{% endblock %}

{% block header %}
  {% if validlink %}
    Setează o parolă nouă
  {% else %}
    Link invalid
  {% endif %}
{% endblock %}

{% block content %}
{% if validlink %}
  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text text-center mb-4">Alege o parolă nouă pentru contul tău.</p>
      
      <form method="POST">
        {% csrf_token %}
        
        {% load bootstrap4 %}
        {% bootstrap_form form %}
        
        <div class="form-group mt-4">
          <button type="submit" class="btn btn-primary btn-block">Schimbă parola mea</button>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="alert alert-danger">
    <p class="mb-0">Link-ul de resetare a parolei nu este valid, probabil pentru că a fost deja folosit. Te rugăm să soliciți din nou resetarea parolei.</p>
  </div>
  
  <div class="text-center mt-4">
    <a href="{% url 'password_reset' %}" class="btn btn-primary">Solicită din nou resetarea parolei</a>
  </div>
{% endif %}

<div class="text-center mt-3">
  <a href="{% url 'home' %}" class="btn btn-outline-secondary">Înapoi la pagina principală</a>
</div>
{% endblock %}